<div class="mt-3 text-center">
  <h1>Tech Blog!</h1>
</div>

<div
  class="card m-2 d-flex flex-column justify-content-center align-items-center"
  style="width: 50vw"
>
  <div class="card-header bg-info text-center" style="width: 50vw"><strong
    >{{post_title}}</strong></div>
  <div
    class="card-body bg-muted d-flex flex-column justify-content-center align-items-center"
    style="width: 48vw"
  >
    <p class="card-text" style="text-align:left">
      {{post_text}}
    </p>
    <p class="card-text" style="text-align:left">
      {{postAuthor}}
    </p>
    <h3>Comments</h3>
  </div>

  <div>{{user.user_id}}</div>

  {{!-- {{#each commentAuthorNames as |commentAuthor|}}
    <div>{{commentAuthor}}</div>
  {{/each}}

  {{#each commentArray as |comment|}}
    <div>{{comment.comment_text}}</div>
  {{/each}} --}}

  {{#each commentData as |comment|}}
    <div>Author: {{comment.author}}</div>
    <div>Review: {{comment.text}}</div>
  {{/each}}

</div>