<div class="mt-3 text-center">
  <h1>Tech Blog!</h1>
</div>

<div
  class="card m-2 d-flex flex-column justify-content-center align-items-center"
  style="width: 50vw"
>

  <div class="card-header bg-info text-center" style="width: 50vw"><strong>
      {{post_title}}</strong>
  </div>
  <div
    class="card-body bg-muted d-flex flex-column justify-content-center align-items-center"
    style="width: 48vw"
  >
    <p>Author: {{postAuthor}}</p>
    <p class="card-text" style="text-align:left">
      {{post_text}}
    </p>
    <h3 style="font-size:20px"><strong>Comments</strong></h3>
    {{#each commentData as |comment|}}
      <div class="card bg-muted text-muted mt-2" style="width: 44vw">
        <h5 class="card-header" style="font-size:14px">{{comment.author}}</h5>
        <div class="card-body">
          <p class="card-text" style="font-size:12px">{{comment.text}}</p>
        </div>
      </div>
    {{/each}}
    <div class="card bg-dark text-muted mt-3" style="width: 44vw">
      <h5 class="card-header bg-light text-dark" style="font-size:14px">Add a
        comment below</h5>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        <div class="form-group">
          <textarea class="form-control" id="newComment" rows="2" style="width: 42vw"></textarea>
        </div>
        <a
        href="#"
        class="btn btn-light text-dark viewCommentsButton mt-2"
        style="width:25vw"
        id="{{post.post_id}}"
        >Submit Comment</a>
      </div>

      </div>

    </div>

  </div>
</div>